<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory Manager</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
    <!-- Basic CSS Styling -->
    <style>
        .btn-primary, .btn-primary:visited {
            background-color: #2a3942 !important;
            border-color: white;
            height: 35px;
        }
        .btn-primary:hover, .btn-primary:active {
            background-color: #1f2931 !important;
            border-color: black
        }
        .form-control-small {
            color: black;
            border-color: white;
            height: 35px;
        }
        .form-control-small:hover, .form-control-small:active {
            border-color: black
        }
        tr{
            width:100%;
        }
        td{
            border: 1px solid black;
        }
        table{
            width:100%;
            border: 1px solid black;
        }
    </style>
     <script type="text/javascript">
         function UnhideElement(elementToHide,element, buttonArray) {
             var elemHTML = document.getElementById(element);

             if (elementToHide == 'searchHandler'){
                 document.getElementById('searchHandler').hidden = true;
                 document.getElementById('addToDB').hidden = true;
             }

             if (elemHTML.hidden) {
                 elemHTML.hidden = false;
             } else {
                 elemHTML.hidden = true;
               }
             document.getElementById('itemSku').hidden = true;
             document.getElementById('itemName').hidden = true;
             document.getElementById('itemAmount').hidden = true;
             document.getElementById('itemAisle').hidden = true;
             for (var i = 0; i < buttonArray.length; ++i){
                 button = buttonArray[i];
                 var currButton = document.getElementById(button);
                 currButton.hidden = false;
             }
             document.getElementById("searchCard").hidden = false;
             document.getElementById('searchPrompt').hidden = false;
             if (element == 'searchHandler'){
                 document.getElementById('searchHandler').addEventListener('keyup', function(event) {
                    if (event.code === 'Enter'){
                        event.preventDefault();
                        document.querySelector('form').submit();
                    }
                });
             }
        }
        function checkIfEmpty(buttonClicked){
            var itemSku = document.getElementById("itemSku");
            var itemName = document.getElementById("itemName");
            var itemAmount = document.getElementById("itemAmount");
            var itemAisle = document.getElementById("itemAisle");
            var emptyItems = [];
            // Check to make sure items exists and are empty
            if (itemSku !== null && itemSku.value === "" && itemSku.hidden != true)
                emptyItems.push('Item SKU');
            if (itemName !== null && itemName.value === "" && itemName.hidden != true)
                emptyItems.push('Item Name');
            if (itemAmount !== null && itemAmount.value === "" && itemAmount.hidden != true)
                emptyItems.push('Item Amount');
            if (itemAisle !== null && itemAisle.value === "" && itemAisle.hidden != true)
                emptyItems.push('Item Aisle');
            if (emptyItems.length != 0) {
                var tmpStr = "";
                for (let i = 0; i < emptyItems.length; ++i) {
                    if (i == 0) {
                        tmpStr += emptyItems[i];
                    } else if (buttonClicked == 'searchDB') {
                        if (emptyItems.length == 4){
                            tmpStr += " or " + emptyItems[i];
                        }else{
                            return true;
                        }
                    }
                }
                document.getElementById('errorHandler').innerHTML = "Please Enter - " + tmpStr ;
                return false;
            }else{
               return true;
            }
        }
    </script>

<body style="background-color: #2a3942">
    <div class="container-fluid" style="text-align: center;">
        <p id="errorHandler" style="color: red"></p>
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="col">
                <div id="searchCard" class= "card mx-auto" style="width: 20rem;" hidden="True">
                <p hidden = "True" id="searchPrompt">Enter any of the following</p>
                <input hidden = "True" type="search" name="itemSku" id="itemSku" class="form-control-small rounded"
                             placeholder="SKU" style="border-color:#2a3942;"/>
                <input hidden = "True" type="search" name="itemName" id="itemName" class="form-control-small rounded"
                     placeholder="Item Name" style="border-color:#2a3942;"/>
                <input hidden = "True" type="search" name="itemAmount" id="itemAmount" class="form-control-small rounded"
                     placeholder="Amount in Inventory" style="border-color:#2a3942;"/>
                <input hidden = "True" type="search" name="itemAisle" id="itemAisle" class="form-control-small rounded"
                     placeholder="Aisle Number" style="border-color:#2a3942;"/>
                </div>
                 </div>
            <div class="col">
                <input hidden = "True" type="submit" name="searchDB" id="searchDB" value="Search Inventory" class="btn btn-primary" onclick="return checkIfEmpty('searchDB');">
                <input type="submit" name="addToDB" id="addToDB" value="Add To Inventory" class="btn btn-primary">
                <input type="button" id="searchHandler" value="Search Inventory" class="btn btn-primary" onclick="UnhideElement('searchHandler','searchDB', ['itemSku','itemName','itemAisle']);">
                <input type="submit" name="listInventory" id="listInventory" value="List Full Inventory" class="btn btn-primary" onclick="">
                <input type="submit" name="convertToCSV" id="convertToCSV" value="Export to CSV" class="btn btn-primary" onclick="">
            </div>
            </form>
        <br></br>
        <div class= "card mx-auto" style="width: 50%; background-color:#2a3942" id="tableCard">
        <!-- Using the formset -->
        <table id="table" class="table" style="background-color:#1f2931;">
            <tr>
                    <th style="color:white" scope="col">SKU</th>
                    <th style="color:white" scope="col">Item Name</th>
                    <th style="color:white" scope="col">Inventory</th>
                    <th style="color:white"scope="col">Aisle</th>
                     <th></th>
            </tr>
            {% for item in query %}
                <tr>
                    <td style="color:white">{{ item.itemSKU }}</td>
                    <td style="color:white">{{ item.itemName }}</td>
                    <td style="color:white">{{ item.itemAmount }}</td>
                    <td style="color:white">{{ item.itemAisle }}</td>
                    <td style="color:white">
                        <a href="{% url 'editHandler' item.itemSKU %}" class="btn btn-info btn-sm" style="background-color: #2a3942" ><span class="far fa-edit"></span></a>
                        <a href="{% url 'deleteHandler' item.itemSKU %}" style="background-color:red" class="btn btn-info btn-sm"><span class="fas fa-trash"></span></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        </div>
        </div>
</body>
<!-- Footer -->
<footer class="fixed-bottom">
    <div class="text-left p-3" style="background-color:#2b4959; height: 50px;">
        <a class="text-white" href="https://github.com/mirackara/projectscatter">GitHub</a>
    </div>
</footer>
</html>